# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# 不想上传的大文件
/apks
/check_mctstree
/data_history
/extracted_apk
/mcts_data_history
/processed_history
/raw_history_pkl
/temp_state
/gpt_usage.json
androidWorld.zip